:root {
  --background: #303030;
  --primary1: #808080;
}

html, body, #root {
  height: 100%;
}

body {
  /* ORIGINAL START */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* ORIGINAL END */

    background: var(--background);

    font-size: 18px;
}

code {
  /* ORIGINAL START */
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  /* ORIGINAL END */
}

button {
  padding: 8px 12px;
  background: #9c9c9c;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}

button:hover {
  filter: brightness(1.2) contrast(1.2);
}